.home-container{
  background-color: #FDFFB6;
  color:black;
  font-family: 'Lato', sans-serif;
  width:100%;
  height: calc(100vh - 70px);
  position:relative;
  top:70px;
}
.home-container p{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
.home-container b{
  color:#ff85ff;
}
.jc-img img{
border-radius: 50%;
height: 200px;
width: 175px;

}